<div class="graphs">
  <div class="row">
    <div class="col-12">
      <div class="container intro">
        <strong><p class="headline">TOP SELECTED PLAYERS</p></strong>
        <p class="tagline">THE HOTTEST PLAYERS IN THE LEAGUE RIGHT NOW</p>
        <hr>
      </div>
    </div>
  </div>

  <div class="row charts">
    <div class="col-lg-4 col-12">
      <app-chart [color]="chartColorsOne" index=0></app-chart>
    </div>
    <div class="col-lg-4 col-12">
      <app-chart [color]="chartColorsTwo" index=1></app-chart>
    </div>
    <div class="col-lg-4 col-12">
      <app-chart [color]="chartColorsThree" index=2></app-chart>
    </div>
  </div>
</div>

<br>
<br>