.footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #4381C1;
  text-align: center;
  color: white;
  font-size: 12px;
}

::-webkit-input-placeholder {
   text-align: center;
}