.intro {
  text-align: center;
}

.headline {
  font-size: 2rem;
  margin-bottom: 0;
  margin-top: 4%;
}

.tagline {
  font-size: 1rem;
  line-height: 1.0;
  color: #777777;
}

.player-display {
  background-image: linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.40)), url("../../../assets/img/backdrop1.jpg");
  background-size: 600px 300px;
  background-position: center;
  border-right: 5px solid white;
}

.player-name {
  border-left: 3px solid black;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

.player-name p {
  padding-top: 75%;
  line-height: 100%;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
}

.player-position {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  border-left: 3px solid black;
  padding: 0;

}

.player-position p {
  padding-top: 75%;
  line-height: 100%;
  text-align: center;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.player-ppg {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  padding: 0;
}

.player-ppg p {
  padding-top: 55%;
  line-height: 100%;
  text-align: center;
  font-size: 4.3rem;
  text-transform: uppercase;
  text-align: center;
}

#ppg{
  font-size: 1.5rem;
}

.player-predicted {
  border-right: 3px solid black;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  padding: 0;
}

.player-predicted p {
  padding-top: 40%;
  line-height: 100%;
  text-align: center;
  font-size: 5.5rem;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
}

#pred {
  font-size: 1.5rem;
  padding-top: 10px;
}

.header {
  height: 3.2rem;
  background-color: #69B8BF;
  border-top: 6px solid #69B8BF;
  padding-top: 0px;
  width: 95%;
  margin: 0px auto;
  margin-bottom: 0px;
}

.header p {
  color: white;
  margin-bottom: 0px;
}

.info-1 p {
  font-size: 7.5rem;
  text-transform: uppercase;
  line-height: 90%;
  margin: 40px auto;
  padding-left: 20px;
}

.name-1 {
  background-color: #D35269;
  color: white;
  text-shadow: 2px 2px 7px black;
}

.ppg-1 {
  background-color: #cceeed;
}

.ppg-1 p {
  font-size: 12rem;
  text-align: center;
  padding-left: 0;
  color: white;
  text-shadow: 2px 2px 12px black;
}

.ep-1 {
  background-color: #4381C1;
  text-shadow: 2px 2px 7px black;
  color: white;
}

.ep-1 p {
  font-size: 4.9rem;
  line-height: 1.0;
  padding-left: 0px;
  padding-right: 15px;
  padding-top: 10px;
}

.ppg-2 {
  background-color: #69B8BF;
}

.ppg-2 p {
  font-size: 11rem;
  padding-left: 0px;
  color: white;
  text-align: center;
  line-height: 100%;
  text-shadow: 2px 2px 7px black;
}

.ep-2 {
  background-color: #D35269;
  color: white;
  text-shadow: 2px 2px 7px black;
}

.ep-2 p {
  font-size: 12rem;
  text-align: center;
  padding-left: 0;
}

p {
  line-height: 2.2;
  font-size: 20px;
}

/*.statistic {
  border-right: 4px solid #E90052;
  border-left: 4px solid #E90052;
}*/

.statistic {
  padding-top: 15px;
}

.content {
  width: 95%;
  margin: 0 auto;
  background-color: #ffffff;
  border-left: 2px solid #E1E1E1;
  border-right: 2px solid #E1E1E1;
  border-bottom: 2px solid #E1E1E1;
  padding-bottom: 20px;
}

/*.side-left {
  border-left: 2px solid #E1E1E1;
}

.side-right {
  border-right: 2px solid #E1E1E1;
  padding-top: 15px;
}*/

img {
  height: 300px;
  width: 300px;
  margin: 0 auto;
  display: block;
  padding-top: 15px;
}

.name {
  height: 40px;
}

.info {
  border-bottom: 0px;
  height: 2.5rem;
}

.info p {
  border-bottom: 0px;
}

.basic, .fantasy{
  border-top: 4px solid #D35269;
}

.ep {
  font-size: 12rem;
  line-height: 1.6;
/*  margin-left: 15px;*/
  text-align: center;
}