<div class="row">
  <div class="col-12">
    <div class="container intro">
      <strong><p class="headline">TOP PREDICTED PLAYER</p></strong>
      <p class="tagline">THE VERY BEST OF THE LEAGUE FOR YOUR UPCOMING FIXTURE</p>
      <hr>
    </div>
  </div>
</div>

<br>

<div class="container">
  <div class="row">
  <div class="col-lg-4 player-display">
    <img [src]="bestPlayer?.img_ref">
  </div>
  <div class="col-lg-2 player-name">
     <div class="container">
      <p>{{ bestPlayer?.name }}</p>
    </div>
  </div>
  <div class="col-lg-2 player-position">
    <div class="container">
      <p>{{ bestPlayer?.position }}</p>
    </div>
  </div>
  <div class="col-lg-2 player-ppg">
    <div class="container">
      <p>{{ bestPlayer?.ppg }}<span id="ppg">ppg</span></p>
    </div>
  </div>
  <div class="col-lg-2 player-predicted">
    <p>{{ bestPlayer?.ep_this }}</p>
    <p id="pred">PREDICTED POINTS</p>
  </div>
</div>
</div>

<!-- <div class="row info-1">
  <div class="col-lg-4 name-1" id="tile">
    <div class="container">
      <strong><p>{{ bestPlayer.name }}</p></strong>
    </div>
  </div>
  <div class="col-lg-4 ppg-1" id="tile">
    <div class="container">
      <strong><p>{{ bestPlayer.ppg }}</p></strong>
    </div>
  </div>
  <div class="col-lg-4 ep-1" id="tile">
    <div class="container">
      <strong><p>PREDICTED POINTS</p></strong>
    </div>
  </div>
</div>
<div class="row info-1">
  <div class="col-lg-4">
    <div class="container">
      <img [src]="bestPlayer.img_ref">
    </div>
  </div>
  <div class="col-lg-4 ppg-2" id="tile">
    <div class="container">
      <strong><p>PPG</p></strong>
    </div>
  </div>
  <div class="col-lg-4 ep-2" id="tile">
    <div class="container">
      <strong><p>{{ bestPlayer.ep_this }}</p></strong>
    </div>
  </div>
</div>

<br> -->

<br>
<!-- 
<div class="row container header">
    <strong><p>TOP PREDICTED PLAYER</p></strong>
</div>
<div class="row content">
    <div class="col-lg-4 col-12 side-left">
      <img [src]="bestPlayer.img_ref">
    </div>
    <div class="col-lg-4 col-12 statistic">
      <div class="row name">
        <div class="col-lg-8 col-8">
          <strong><p>{{ bestPlayer.name }}</p></strong>
        </div>
        <div class="col-lg-4 col-4">
          <strong><p>#{{ bestPlayer.squad_number }}</p></strong>
        </div>
      </div>
      <div class="row info basic">
        <div class="col-lg-8 col-8">
          <p>Club</p>
        </div>
        <div class="col-lg-4 col-4">
          <strong><p> {{ bestPlayer.team }} </p></strong>
        </div>
      </div>
      <div class="row info">
        <div class="col-lg-8 col-8">
          <p class="">Position</p>
        </div>
        <div class="col-lg-4 col-4">
          <strong><p>{{ bestPlayer.position }}</p></strong>
        </div>
      </div>
      <div class="row info fantasy">
        <div class="col-lg-8 col-8">
          <p class="">PPG</p>
        </div>
        <div class="col-lg-4 col-4">
          <strong><p>8.2</p></strong>
        </div>
      </div>
      <div class="row info">
        <div class="col-lg-8 col-8">
          <p class="">Form</p>
        </div>
        <div class="col-lg-4 col-4">
          <strong><p>{{ bestPlayer.form }}</p></strong>
        </div>
      </div>
      <div class="row info">
        <div class="col-lg-8 col-8">
          <p class="">Total Points</p>
        </div>
        <div class="col-lg-4 col-4">
          <strong><p>{{ bestPlayer.total_points }}</p></strong>
        </div>
      </div>
      <div class="row info">
        <div class="col-lg-8 col-8">
          <p class="">Last Game Points</p>
        </div>
        <div class="col-lg-4 col-4">
          <strong><p>{{ bestPlayer.event_points }}</p></strong>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-12 side-right">
      <strong><p class="ep">{{ bestPlayer.ep_this }}</p></strong>
    </div>
</div> -->
<br>