<div class="row container header">
  <!-- <div class="container"> -->
    <strong><p>TOP PREDICTED PLAYER</p></strong>
  <!-- </div> -->
</div>
<div class="row content">
    <div class="col-lg-4 col-12 side-left">
      <img src="https://platform-static-files.s3.amazonaws.com/premierleague/photos/players/250x250/p92217.png">
    </div>
    <div class="col-lg-4 col-12 statistic">
      <div class="row name">
        <div class="col-lg-8 col-8">
          <strong><p>Roberto Firmino</p></strong>
        </div>
        <div class="col-lg-4 col-4">
          <strong><p>#9</p></strong>
        </div>
      </div>
      <div class="row info basic">
        <div class="col-lg-8 col-8">
          <p>Club</p>
        </div>
        <div class="col-lg-4 col-4">
          <strong><p>Liverpool</p></strong>
        </div>
      </div>
      <div class="row info">
        <div class="col-lg-8 col-8">
          <p class="">Position</p>
        </div>
        <div class="col-lg-4 col-4">
          <strong><p>Forward</p></strong>
        </div>
      </div>
      <div class="row info fantasy">
        <div class="col-lg-8 col-8">
          <p class="">PPG</p>
        </div>
        <div class="col-lg-4 col-4">
          <strong><p>8.2</p></strong>
        </div>
      </div>
      <div class="row info">
        <div class="col-lg-8 col-8">
          <p class="">Form</p>
        </div>
        <div class="col-lg-4 col-4">
          <strong><p>9.0</p></strong>
        </div>
      </div>
      <div class="row info">
        <div class="col-lg-8 col-8">
          <p class="">Total Points</p>
        </div>
        <div class="col-lg-4 col-4">
          <strong><p>32</p></strong>
        </div>
      </div>
      <div class="row info">
        <div class="col-lg-8 col-8">
          <p class="">Last Game Points</p>
        </div>
        <div class="col-lg-4 col-4">
          <strong><p>12</p></strong>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-12 side-right">
      <strong><p class="ep">8.7</p></strong>
    </div>
</div>
<br>