<app-main></app-main>
<!-- <div class="container seperator">
</div> -->
<div class="row container header">
  <!-- <div class="container"> -->
    <strong><p>MOST SELECTED PLAYERS</p></strong>
  <!-- </div> -->
</div>
<div class="row charts">
  <div class="col-lg-4 col-12">
    <app-chart [color]="chartColorsOne"></app-chart>
  </div>
  <div class="col-lg-4 col-12">
    <app-chart [color]="chartColorsTwo"></app-chart>
  </div>
  <div class="col-lg-4 col-12">
    <app-chart [color]="chartColorsThree"></app-chart>
  </div>
</div>
<br>
<!-- <div class="container seperator">
</div> -->
<div class="row container header">
  <!-- <div class="container"> -->
    <strong><p>TRANSFER MARKET</p></strong>
  <!-- </div> -->
</div>