<div class="jumbotron">
  <div class="container">
    <p id="name"><strong>FPL TRACKER</strong></p>
    <p id="tagline">Track your players, visualize their statistics, and dominate your league</p>
    <br>
    <br>
    <br>
    <ng2-completer class="mx-auto"
                     [(ngModel)]="player"
                     [datasource]="playersName"
                     (selected)="onSelected($event)"
                     (keyup.enter)="onSelected($event)"
                     [minSearchLength]="0"
                     [inputClass]="['form-control']"
                     clearSelected=true
                     [placeholder]="'Search'">
                      
      </ng2-completer>`
  </div>
</div>

<app-main></app-main>

<br>

<app-chart-container></app-chart-container>

<app-table-container></app-table-container>

<br>